<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acasă</title>
    <meta name="description" content="Un site despre moldova" />
    <meta name="keywords" content="moldiva, website, informatii" />
    <meta name="author" content="Grajdian Cristian" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/scrollBarDesign.css" />
</head>
<body>
    <div class="main dsf-jcs">
        <div class="containerBackground">
            
            <img class="fundalIMG" src="../imagini/fundal.jpg" alt="Nu s-a incarcat imaginea de fundal">
        </div>
        <div class="allContainer">
            <div class="container capitalaContainer dsf-jcs">
                <div class="containerContent capitalaContainerContent">
                    <div class="containerInfo capitalaContainerInfo">
                        <div class="capitalaTitlu dsf-jcs scd-tt">Chișinău</div>
                        <div class="capitalaDescriere descriere">
                            <space>O</space>rașul Chișinău este cel mai mare oraș și centru comercial din Republica Moldova. Este un punct economic foarte important si de asemenea, capitala Moldovei. Găzdiuește aproximativ 738000 de oameni care sunt intr-o continuă creștere. În ultimii 20 de ani populația a crescut cu 7600 de oameni.
                            <img class="capitalaImg" src="./imagini/capitala.jpg" alt="Capitala">
                            <space>O</space>rașul se împarte în 5 sectoare și anume:
                            <ul class="capitalaListaSectoare liste">
                                <li><a target="sectorInfo" href="https://ro.wikipedia.org/wiki/Botanica">Botanica</a></li>
                                <li><a target="sectorInfo" href="https://ro.wikipedia.org/wiki/Buiucani">Buiucani</a></li>
                                <li><a target="sectorInfo" href="https://ro.wikipedia.org/wiki/Sectorul_Centru_(Chi%C8%99in%C4%83u)">Centru</a></li>
                                <li><a target="sectorInfo" href="https://ro.wikipedia.org/wiki/Ciocana">Ciocana</a></li>
                                <li><a target="sectorInfo" href="https://ro.wikipedia.org/wiki/R%C3%AE%C8%99cani_(sector)">Rîșcani</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container generalContainer dsf-jcs">
                <div class="containerContent generalContainerContent">
                    <div class="containerInfo generalContainerInfo">
                        <div class="generalTitlu dsf-jcs">Moldova</div>
                        <div class="generalDescriere descriere">
                            <img class="generalImg" src="./imagini/moldovaMap.jpg" alt="Capitala">
                            <space>R</space>epublica Moldova este un stat situat in sud-estul Europei care cuprinde aproximativ 33.843 km<sup>2</sup>. Vecinii acestei țări sunt România și Ukraina și este despărțită de râul Nistru și Prut. Are mai multe aeropoarte pe toată suprafața, însă cele mai importante sunt:
                            <ul class="generalListaAeropoarte liste">
                                <li><a target="sectorInfo" href="https://ro.wikipedia.org/wiki/Aeroportul_Interna%C8%9Bional_Chi%C8%99in%C4%83u">Aeroportul Internațional Chișinău</a></li>
                                <li><a target="sectorInfo" href="https://ro.wikipedia.org/wiki/Aeroportul_Tiraspol">Aeroportul din Tirapol</a></li>
                                <li><a target="sectorInfo" href="https://ro.wikipedia.org/wiki/Aeroportul_Interna%C8%9Bional_B%C4%83l%C8%9Bi">Aeroportul Internațional Bălți</a></li>
                            </ul>
                            <space>I</space>ndustria vinicolă in Republica Moldova este bine dezvoltată și în același timp o sursă principală de venit din export, principalele zone care produc vinuri sunt: Codru, Ștefan Vodă, Valul lui Traian și Divin. De asemenea sunt și niște zone turistice foarte bune. Zone turistice mai pot fi și mănăstirile și bisericile care au o arhitectură și un design unic, cele mai importante sunt: Mănăstirea <i>Maica Domnului Grabnic Ajutătoare</i> din Bălți, Mănăstirea <i>Bocancea (fostul schit Antoneuca)</i> din Bocancea-Schit, Sîngerei, <a target="sectorInfo" href="https://ro.wikipedia.org/wiki/Lista_m%C4%83n%C4%83stirilor_din_Republica_Moldova" class="siAltele">și altele</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container alteInfoContainer dsf-jcs">
                <div class="containerContent alteInfoContainerContent">
                    <div class=" containerInfo alteInfoContainerInfo">
                        <div class="alteInfoTitlu dsf-jcs scd-tt">Alte Informații</div>
                        <div class="allLinks descriere">
                            <a class="links" href="/pagina/istoric">Istoric</a>
                            <a class="links" href="/pagina/sarbatori">Sărbători</a>
                            <a class="links" href="/pagina/clasamente">Clasamente</a>
                            <a class="links" href="/pagina/curiozitati">Curiozități</a>
                            <a class="links" href="/pagina/traditii">Tradiții<a>
                        </div>
                    </div>
                    <footer>
                        Contacts: <a href="https://www.instagram.com/" target="footer">instagram</a> , <a href="https://discord.com/" target="footer">discord</a> , <a href="https://www.linkedin.com/?original_referer=" target="footer">linkedIn</a> <br>
                        © 2024
                    </footer>
                </div>
            </div>
        </div>
    </div>
</body>
</html>