<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradiții</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/scrollBarDesign.css">
    <link rel="stylesheet" href="/css/pagini/clasamente.css">
    <meta name="description" content="Un site despre moldova" />
    <meta name="keywords" content="moldiva, website, informatii" />
    <meta name="author" content="Grajdian Cristian" />
</head>
<body>
    <div class="main dsf-jcs">
        <div class="containerBackground">
            <img class="fundalIMG" src="../imagini/fundal.jpg" alt="Nu s-a incarcat imaginea de fundal">
        </div>
        <div class="allContainer">
            <div class="container clasamenteContainer dsf-jcs">
                <div class="containerContent clasamenteContainerContent">
                    <div class="containerInfo clasamenteContainerInfo">
                        <div class="top">
                            <a href="/home" class="inapoi"><=</a>
                            <div class="titluPagina">Clasamente în Republica Moldova</div>
                        </div>
                        <div class="descriere">
                            <ul class="liste">
                                <li>După suprafață - Moldova se află pe locul 139 cu o suprafață de 33.846 adica 0,02% din suprafața planetei. (în fața ei se află Guinea-Bissau și dupa Belgia). <a target="sectorInfo" href="https://ro.wikipedia.org/wiki/Lista_%C8%9B%C4%83rilor_dup%C4%83_suprafa%C8%9B%C4%83">click</a></li>
                                <li>Dupa populație - Moldova se află pe locul 139 în lume, cu aproximativ  2.640.438 (0,044%). <a target="sectorInfo" href="https://ro.wikipedia.org/wiki/Lista_%C8%9B%C4%83rilor_dup%C4%83_popula%C8%9Bie">click</a></li>
                                <li>În funcție de PIB - Moldova se află pe locul 135, cu 11.404 milioane de dolari anual. <a target="sectorInfo" href="https://ro.wikipedia.org/wiki/Lista_%C8%9B%C4%83rilor_%C3%AEn_func%C8%9Bie_de_PIB_(nominal)">click</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>