<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradiții</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/scrollBarDesign.css">
    <link rel="stylesheet" href="/css/pagini/curiozitati.css">
    <meta name="description" content="Un site despre moldova" />
    <meta name="keywords" content="moldiva, website, informatii" />
    <meta name="author" content="Grajdian Cristian" />
</head>
<body>
    <div class="main dsf-jcs">
        <div class="containerBackground">
            <img class="fundalIMG" src="../imagini/fundal.jpg" alt="Nu s-a incarcat imaginea de fundal">
        </div>
        <div class="allContainer">
            <div class="container curiozitatiContainer dsf-jcs">
                <div class="containerContent curiozitatiContainerContent">
                    <div class="containerInfo curiozitatiContainerInfo">
                        <div class="top">
                            <a href="/home" class="inapoi"><=</a>
                            <div class="titluPagina">Curiozități despre Republica Moldova</div>
                        </div>
                        <div class="descriere">
                            <div class="liste">
                                <div>Moldova este plasată pe locul 12 printre primii exportatori de vinuri din lume.</div>
                                <div>Creșterea viței de vie și producerea vinului în Moldova datează de aproape 5000 de ani.</div>
                                <div>Cea mai mare Cramă subterană din lume, Cricova, este "ascunsă" sub această țară.</div>
                                <div>Colecția de vinuri de la Mileștii Mici de 1,5 milioane de sticle, a fost inclusă în Cartea Recordurilor la categoria cea mai mare colecție de vinuri de calitate din lume.</div>
                                <div>Muzeul băuturilor alcoolice, în satul Tîrnauca, este cea mai mare clădire din lume, în forma unei sticle (28m).</div>
                                <div>Există 30 de mănăstiri și biserici de lemn (unele dintre ele datând din secolul al 15-lea).</div>
                                <div>Peștera "Emil Racoviță", în Criva, este a 8-a cea mai mare peșteră de pe planetă.</div>
                                <div>Cel mai vechi copac de stejar de aici este de 600 de ani vechime.</div>
                                <div>Cel mai important domnitor al Moldovei, Ștefan cel Mare, (1457-1504) a câștigat 34 de războaie, luînd în cosiderație că a luptat 36 de războaie.
                                </div>
                                <div>A doua limbă oficială a Găgăuziei, situată în partea de sud a Moldovei, este o divmbă pe cale de dispariție, cu numai 200000 de vorbitori.</div>
                                <div>Rusia are încă 2.500 de midivtari și 22.000 de tone de armament în Transnistria.</div>
                                <div>În timpul perioadei Uniunii Sovietice, Moldova a fost republica cea mai dens populată.</div>
                                <div>Drapelul Moldovei este una din doar trei steaguri naționale care diferă pe avers și revers – celelalte două sunt Paraguay și Arabia Saudită.</div>
                                <div>A existat aproximativ trei ani fără un președinte. În 2012, Nicolae Timofti a fost ales președinte, după o perioadă de aproape trei ani de zile de criză prezidențială.</div>
                                <div>În timpul Uniunii Sovietice Soroca a devenit capitala romilor din toată lumea.</div>
                                <div>Din 152 de țări incluse în clasamentul de viteză de acces la Internet, Republica Moldova se află pe locul 3.</div>
                                <div>Cleopatra Stratan deține recordul pentru cel mai bine plătit tânăr artist, cel mai tânăr artist pentru a primi un premiu MTV și cel mai tânăr artist să înscrie un #1 hit într-o țară.</div>
                                <div>Cel mai mare animal care a trăit vreodată pe acest teritoriu este "Denoterium", o rasă de ceea ce este cunoscut a fi ca un elefant. Scheletul acestui animal este acum păstrat în Muzeul Etnografic și este considerat a fi al doilea cel mai mare din Europa.</div>
                                <div>Există mai mult de 40 de parcuri în Repubdivca Moldova (aranjamente vechi de diferite specii de arbori, plante exotice și lacuri), din care 20 sunt în stare bună.</div>
                                <div>Salariul mediu lunar al lucrătorilor este $ 225.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>