<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradiții</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/scrollBarDesign.css">
    <link rel="stylesheet" href="/css/pagini/istoric.css">
</head>
<body>
    <div class="main dsf-jcs">
        <div class="containerBackground">
            <img class="fundalIMG" src="../imagini/fundal.jpg" alt="Nu s-a incarcat imaginea de fundal">
        </div>
        <div class="allContainer">
            <div class="container istoricContainer dsf-jcs">
                <div class="containerContent istoricContainerContent">
                    <div class="containerInfo istoricContainerInfo">
                        <div class="top">
                            <a href="/home" class="inapoi"><=</a>
                            <div class="titluPagina">Istoria din Republica Moldova</div>
                        </div>
                        <div class="istoric">
                            <div class="descriere perioadaIstorica perioadaTarista">
                                <div class="titluPerIst">Perioada țaristă</div>
                                <div class="descPerIst">
                                    <space>P</space>erioada țaristă începe prin sec <sec>XVIII</sec> și se termină cu sfârșitul primului Război Mondial. Iar un prim eveniment care a marcat istoria chiar și până în zilele noastre s-a întâmplat în 1792 când prin tratatul de la Iași Imperiul Otoman a fost forțat să cedeze teritoriile deținute în regiunea care acum se numește Transnistria către Imperiul Rus. <br>
                                    <space>Î</space>n urma războiului ruso-turc din 1806-1812, Imperiul Rus biruitor revendică de la Turcii învinși Bugeacul, interesat fiind de gurile Dunării. Bugeacul, teritoriu al Imperiului Otoman, apărea atunci pe hărțile europene sub numele românesc de « Basarabia », iar restul ținutului dintre Prut și Nistru făcea parte din principatul Moldovei, fără a avea o denumire anume. Tratatul de la București din 1812, duc la extinderea denumirii de « Basarabia », la întreg ținutul dintre Prut și Nistru, teritoriu al Moldovei, care prin această viclenie este cedat Rusiei în ciuda protestului voievodului Moldovean Veniamin Costache și a Sfatului său. Tratatul care sfâșie Moldova în două până în zilele noastre este semnat de mareșalul Kutuzov. Moruzi însă a fost decapitat la Constantinopol când guvernnul otoman a aflat de trădarea sa, posibil motivată fie de bani, fie de religia sa ortodoxă, care-l apropia mai degrabă de Țar decât de Sultan. <br>
                                    <space>D</space>upă înfrângerea rușilor din Războiul Crimeii din 1853-1856, Tratatul de la Paris stipula ca județele Cahul, Bolgrad și Ismail să fie retrocedate Moldovei, care, împreună cu Țara Românească, era pusă sub garanția colectivă a celor șapte puteri străine care au semnat tratatul, printre care și Rusia. În 1859, Principatul Moldovei s-a unit cu cel al Munteniei alegând același domn pentru ambele principate românești, în persoana lui Alexandru Ioan Cuza, și punând astfel cărămida de temelie a statului modern România. Prin Tratatul de la Berlin din 1878, guvernul român a fost însă nevoit să cedeze din nou județele Cahul, Bolgrad și Ismail către Imperiul Rus, în joc fiind din nou același obiectiv: controlul gurilor Dunării.
                                </div>
                            </div>
                            <div class="descriere perioadaIstorica perioada1Indep">
                                <div class="titluPerIst">Prima independență 1918 și România Mare</div>
                                <div class="descPerIst">
                                    <space>D</space>upă ce Revoluția rusă din februarie 1917 și Declarația Drepturilor Popoarelor din Rusia au încurajat diverse naționalități din Imperiul Rus să-și revendice suveranitatea, gubernia Basarabia a devenit o republică independentă la 2 decembrie 1917. La 6 ianuarie 1918 a fost proclamată Republica Democratică Moldovenească, în hotarele guberniei Basarabiei, adică de la Hotin la Marea Neagră și la Dunăre, dar fără malul stîng al Nistrului. La cererea noii administrații moldovene « Sfatul Țării », pe 13 decembrie, trupe române și franceze (armata generalului Berthelot) au intrat în Basarabia, ca să apere teritoriul jefuit de bandele de dezertori ai armatei rusești în destrămare, și atacat de trupele bolșevice. La 27 martie 1918, Sfatul Țării a votat unirea cu România, în timp ce bolșevicii se retrăgeau conform Tratatului de la Brest-Litovsk dintre Lenin și Germani. Cele 12 ocoluri au fost atunci reorganizate în 9 județe ale provinciei Basarabia: Hotin, Soroca, Bălți, Orhei, Lăpușna (capitala Chișinău), Cahul, Tighina, Cetatea-Albă și Chilia (capitala Ismail).
                                </div>
                            </div>
                            <div class="descriere perioadaIstorica perioadaSovietica">
                                <div class="titluPerIst">Începuturile perioadei sovietice</div>
                                <div class="descPerIst">
                                    <space>D</space>upă formarea Uniunii sovietice în decembrie 1922, guvernul sovietic a creat Oblastul Moldovean Autonom pe teritoriile situate la est de fluviul Nistru, în cadrul Republicii Sovietice Socialiste Ucrainene (RSS Ucraineană). Capitala se afla la Balta, un oraș în Ucraina de astăzi. Șapte luni mai târziu, oblastul a devenit Republica Sovietică Socialistă Autonomă Moldovenească (RSSA Moldovenească), deși populația sa cuprindea doar 30% etnici români (astfel recunoscuți, atunci, de puterea sovietică, și a căror limbă era scrisă în litere latine). Capitala a rămas la Balta până în 1929, când a fost mutată la Tiraspol. Trecerea la scrierea chirilică și la definirea etniei ca "moldovenească, diferită de cea română" a avut loc la data de 27 februarie 1938. În vechile voievodate, limba se mai scrisese în trecut în litere chirilice, dar era un alfabet greco-slavon diferit de cel adoptat în 1938, care este o adaptare a literelor rusești.
                                </div>
                            </div>
                            <div class="descriere perioadaIstorica perioada2Indep">
                                <div class="titluPerIst">A doua independență (1991)</div>
                                <div class="descPerIst">
                                    <space>Î</space>n timpul loviturii de stat de la Moscova din august 1991, comandanții Comandamentului de sud-vest au încercat să impună starea de urgență în Moldova, dar au fost învinși de guvernul moldovenesc, care și-a declarat sprijinul față de președintele rus Boris Elțîn. Pe 27 august 1991, după eșuarea loviturii de stat, Moldova și-a declarat independența față de Uniunea Sovietică. <br>
                                    <div class="subtitlu">Republica Moldova după independență:</div>
                                    <space>D</space>eși independentă de URSS din 1991, forțe rusești au rămas în teritoriul de la est de Nistru pentru a apăra populația slavă, în principal formată din ucraineni, ruși și bulgari, care și-a declarat republica Transnistria pe teritoriul RSS Autonomă Moldovenească. <br>
                                    <space>N</space>oi alegeri parlamentare au avut loc în Moldova pe 27 februarie 1994. Deși alegerile au fost descrise de observatorii internaționali ca fiind libere și corecte, autoritățile din Transnistria au refuzat să numere voturile și au făcut eforturi pentru a descuraja populația să participe la vot. Doar 7,500 de locuitori au votat pe malul drept al Nistrului, în Moldova. <br>
                                    <space>N</space>oul Parlament, având ca majoritate reprezentanți ai Partidului Agrar din Moldova, nu s-a lovit de același blocaj care a caracterizat vechiul Parlament cu majoritatea naționalist-dură a Frontului Popular: legislația reformatoare a fost adoptată, și s-au produs schimbări. Președintele Snegur a semnat Parteneriatul de Pace cu Tratatul Atlanticului de Nord (NATO/OTAN) în martie 1994, iar în aprilie Parlamentul a aprobat participarea Moldovei ca membru a Comunității Statelor Independente (CSI) la o uniune economică. Pe 28 iulie, Parlamentul a ratificat noua constituție, care a intrat în vigoare 27 august 1994, și care prevedea o substanțială autonomie a Transnistriei și Găgăuziei. <br>
                                    <space>R</space>usia și Moldova au semnat un tratat în octombrie 1994 privind retragerii trupelor ruse din Transnistria, dar guvernul rus s-a oprit înaintea ratificării tratatului. Deși armistițiul de încetare a focului era încă în vigoare la începutul anului 1995 iar negocieri ulterioare urmau să includă și Conferința de Securitate și Cooperare în Europa și Națiunile Unite, speranțele de liniștire a disputelor și de retragere a armatelor rusești în viitorul foarte apropiat, se situau la nivel foarte scăzut.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>