<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradiții</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/scrollBarDesign.css">
    <link rel="stylesheet" href="/css/pagini/sarbatori.css">
</head>
<body>
    <div class="main dsf-jcs">
        <div class="containerBackground">
            <img class="fundalIMG" src="../imagini/fundal.jpg" alt="Nu s-a incarcat imaginea de fundal">
        </div>
        <div class="allContainer">
            <div class="container sarbatoriContainer dsf-jcs">
                <div class="containerContent sarbatoriContainerContent">
                    <div class="containerInfo sarbatoriContainerInfo">
                        <div class="top">
                            <a href="/home" class="inapoi"><=</a>
                            <div class="titluPagina">Sărbătorile din Republica Moldova</div>
                        </div>
                        <div class="sarbatoriTabel">
                            <div class="ianuarie luna">
                                <div class="titluLuna titluIan">Ianuarie</div>
                                <div class="sarbatori sarbatoriIan">
                                    Anul Nou - 1 Ianuarie <br>
                                    Crăciunul Ortodox - 7-8 Ianuarie
                                </div>
                            </div>
                            <div class="februarie luna">
                                <div class="titluLuna titluFeb">Februarie</div>
                                <div class="sarbatori sarbatoriFeb"></div>
                            </div>
                            <div class="martie luna">
                                <div class="titluLuna titluMar">Martie</div>
                                <div class="sarbatori sarbatoriMar">
                                    Ziua Internațională a Femeilor - 8 Martie
                                </div>
                            </div>
                            <div class="aprilie luna">
                                <div class="titluLuna titluApr">Aprilie</div>
                                <div class="sarbatori sarbatoriApr">
                                    Paștele Ortodox - 24-25 Aprilie
                                </div>
                            </div>
                            <div class="mai luna">
                                <div class="titluLuna titluMai">Mai</div>
                                <div class="sarbatori sarbatoriMai">
                                    Ziua Muncii - 1 Mai <br>
                                    Paștele Blajinilor - 2 Mai <br>
                                    Ziua Europei/Ziua Victoriei și a Comemorări - 9 Mai
                                </div>
                            </div>
                            <div class="iunie luna">
                                <div class="titluLuna titluIun">Iunie</div>
                                <div class="sarbatori sarbatoriIul"></div>
                            </div>
                            <div class="iulie luna">
                                <div class="titluLuna titluIul">Iulie</div>
                                <div class="sarbatori sarbatoriIun"></div>
                            </div>
                            <div class="august luna">
                                <div class="titluLuna titluAug">August</div>
                                <div class="sarbatori sarbatoriAug">
                                    Ziua Independenței Republicii Moldova - 27 August <br>
                                    Ziua Limba Noastră - 31 August
                                </div>
                            </div>
                            <div class="septembrie luna">
                                <div class="titluLuna titluSep">Septembrie</div>
                                <div class="sarbatori sarbatoriSep"></div>
                            </div>
                            <div class="octombrie luna">
                                <div class="titluLuna titluOct">Octombrie</div>
                                <div class="sarbatori sarbatoriOct">
                                    Ziua orașului Chișinău - 14 Octombrie
                                </div>
                            </div>
                            <div class="noiembrie luna">
                                <div class="titluLuna titluNoi">Noiembrie</div>
                                <div class="sarbatori sarbatoriNoi"></div>
                            </div>
                            <div class="decembrie luna">
                                <div class="titluLuna titluDec">Decembrie</div>
                                <div class="sarbatori sarbatoriDec">
                                    Crăciunul - 25-26 Decembrie
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>