<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradiții</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/scrollBarDesign.css">
    <link rel="stylesheet" href="/css/pagini/traditii.css">
</head>
<body>
    <div class="main dsf-jcs">
        <div class="containerBackground">
            <img class="fundalIMG" src="../imagini/fundal.jpg" alt="Nu s-a incarcat imaginea de fundal">
        </div>
        <div class="allContainer">
            <div class="container traditiiContainer dsf-jcs">
                <div class="containerContent traditiiContainerContent">
                    <div class="containerInfo traditiiContainerInfo">
                        <div class="top">
                            <a href="/home" class="inapoi"><=</a>
                            <div class="titluPagina">Tradițiile din Republica Moldova</div>
                        </div>
                        <div class="descriere">
                            <space>C</space>ultura oricărei ţări se formează pe baza caracteristicilor ei distinctive, pe ceea ce s-a reuşit să se transmită prin secole şi milenii, fără a se pierde. În acest sens, vorbind despre cultură, merită în primul rând se ne oprim asupra tradiţiilor şi obiceiurilor, iar într-o ţară pitorească ca Moldova acestea sunt din abundenţă. <br><br>
                            <space>T</space>radițiile în Moldova se manifestă în astfel de domenii ca muzica şi dansul, bucătăria tradițională, vinificaţia, lucrările artiştilor populari şi, bineînţeles, obiceiurile, fără de care nu se petrece niciun eveniment important moldovenesc, de exemplu, sărbătorile, care sunt iubite mult în Moldova! Începând chiar cu faimosul Mărțișor. Aceasta sărbătoare este victoria mult aşteptată a primăverii asupra iernii, care începe la 1 martie. În această zi, toţi locuitorii Moldovei se felicită reciproc şi îşi dăruiesc mici ornamente în formă de două flori, agăţate pe un fir – mărțișorii. Pe parcursul întregii luni martie aceste ornamente se poartă pe haine, iar la sfârşitul lunii se leagă de creanga unui copac şi se spune o dorinţă. În Moldova, toţi sunt siguri că ele se realizează! <br><br>
                            <space>O</space> altă sărbătoare originală distinctivă, pentru care turiștii vin în Moldova, este Ziua Vinului. Ea se sărbătoreşte în a doua duminică a lunii octombrie. În această zi, se adună şi se veselesc toţi, indiferent de naţionalitate, opinii politice, vârstă şi statut social,iar dacă au loc dezacorduri, atunci numai referitoare la preferinţele în alegerea sortului de vin. Piaţa principală a capitalei, în Ziua Vinului, se transformă într-un carnaval de divertismente, unde se cântă, se dansează, se vinde şi se cumpără suveniruri naţionale şi, desigur, se degustă băutura aromată. <br><br>
                            <space>O</space> atenţie deosebită o merită ritualurile şi tradiţiile moldoveneşti de nuntă. Acesta sunt un adevărat spectacol! Pentru început logodna, un ritual răspândit mai ales în zonele rurale: tânărul, care doreşte să se însoare şi fata, care doreşte să se mărite, în prezenţa rudelor apropiate fac schimb de inele, doar în cazul în care, din trei încercări le vor găsi într-un vas cu grâu. Numai apoi sunt numiţi mire şi mireasă, şi începe pregătirea pentru nuntă. <br><br>
                            <space>N</space>unta – tradiţii neîntrerupte, care, în majoritatea familiilor din Moldova sunt transmise din generaţie în generaţie. Probabil, cea mai simbolică este împărţirea colacului, pe cere îl rup mirele cu mireasa, pentru a determina cine va fi stăpânul casei. Şi încă un ritual obligatoriu este dezbrăcarea miresei. Aceasta are loc în felul următor: de pe costumul mirelui se scoate buchetul, iar de pe mireasă voalul, mirele se așează pe un scaun, iar mireasa pe genunchii lui. Miresei îi pun o basma şi un şorţ – aceasta simbolizează începutul unei noi vieţi de familie. După aceea, oaspeţii pe rând se apropie de tineri, îi înfăşoară în plăpumi şi pături, şi le ofere cadouri. Şi, desigur, un element esenţial al sărbătorii de nunta este masa plină cu tot felul de bunătăţi. <br><br>
                            <space>B</space>ucătăria moldovenească este o pagină separată în cultura Moldovei. Diversitatea ei se datorează, în primul rând, bogatelor posibilităţi naturale. Strugurii, fructele, legumele, creşterea vitelor şi a păsărilor – toate aceste bogății se folosesc cu succes în bucătăria moldoveneasca. Brânza, mămăliga, ghiveciul, zeama, mititeii, musaca – doar o mică listă a bucatelor originale. Cele mai multe dintre ele, conform tradiţiei, se servesc în vase ceramice – oale, castroane, căni. <br><br>
                            <space>N</space>u se poate vorbi despre cultura unei ţări, fără a aminti muzica şi dansul. În Moldova ambele sunt foarte molipsitoare. Celebrul dans hora nu lasă observatori indiferenţi – când răsună muzica, toţi, fără excepţie, încep să se miște vioi într-un cerc ţinându-se de mâini. Instrumentele muzicale tradiţionale – nai, țambal, fluier, cimpoi, cobza, toba – este greu să le confunzi cu altele, sunetul lor are un caracter special, un temperament speciale de sud. Ritmul muzicii populare din Moldova este, de obicei rapid şi vesel, dar există şi motive triste. De exemplu, doina este un cântec liric, de la care se consideră că îşi iau originea toate melodiile moldoveneşti. Astfel, deja cu sute de ani înaintea erei noastre, au început să apară tradiţiile şi obiceiurile care au supravieţuit până în ziua de azi.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>